APP_ENV=production

# Backend HTTP
PORT=8080
FRONTEND_URL=http://localhost:8081
STORAGE_PATH=./storage

# Backend DB Config
DB_HOST=general-db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=Sv2K8OD313HnLEIb
DB_NAME=dangde_world
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Tokyo

# Frontend build/runtime
VITE_API_BASE_URL=/api
